<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadEntryErrorCodeDictionaryKey</key>
	<integer>-999</integer>
	<key>DownloadEntryErrorDomainDictionaryKey</key>
	<string>NSURLErrorDomain</string>
	<key>DownloadEntryPath</key>
	<string>/tmp/Test1.txt.download/Test1.txt</string>
	<key>DownloadEntryProgressBytesSoFar</key>
	<integer>446</integer>
	<key>DownloadEntryProgressTotalToLoad</key>
	<integer>17364534</integer>
	<key>DownloadEntryResumeInformation</key>
	<dict>
		<key>DownloadEntryURL</key>
		<string>http://localhost/Test1.txt</string>
		<key>NSURLDownloadBytesReceived</key>
		<integer>446</integer>
	</dict>
	<key>DownloadEntryURL</key>
	<string>http://localhost/Test1.txt</string>
</dict>
</plist>
