<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DTFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Universal_Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7F4DFA4147FB61500F4059A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7F4DFA8147FB61500F4059A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7F4DFE5147FBA1B00F4059A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7F4DFE9147FBA5600F4059A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7F4DFED147FBAC600F4059A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
